<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Analyse</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Accueil</a>
        <a class="navbar-brand" href="/analyse">Analyse</a>
        <a class="navbar-brand" href="/prediction">Prédiction</a>
    </nav>

    <h1>Analyse</h1>
    
    <canvas id="{{ chart1_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph1">Afficher le graphique 1</button>
    </div>
    
    <canvas id="{{ chart2_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph2">Afficher le graphique 2</button>
    </div>

    <canvas id="{{ chart21_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph21">Afficher le graphique 21</button>
    </div>

    <canvas id="{{ chart3_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph3">Afficher le graphique 3</button>
    </div>

    <canvas id="{{ chart4_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph4">Afficher le graphique 4</button>
    </div>

    <canvas id="{{ chart6_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph6">Afficher le graphique 6</button>
    </div>

    <canvas id="{{ chart7_id }}" width="500" height="500" class="mx-auto"></canvas>
    <div class="text-center">
        <button id="show-graph7">Afficher le graphique 7</button>
    </div>
    
    <script>
        var chartData = {{ data | tojson }};
        var isOpen1 = false;
        var isOpen2 = false;
        var isOpen21 = false;
        var isOpen3 = false;
        var isOpen4 = false;
        var isOpen6 = false;
        var isOpen7 = false;

    
        // Button for chart 1
        var showGraphButton1 = document.getElementById('show-graph1');
        var chartData1 = chartData.graph1.data;
        var chartOptions1 = chartData.graph1.options;
        chartOptions1.responsive = false;
        var ctx1 = document.getElementById('{{ chart1_id }}').getContext('2d');
        var myChart1 = null;
        
        showGraphButton1.addEventListener('click', function() {
            if (isOpen1) {
                myChart1.destroy();
                isOpen1 = false;
            } else {
                myChart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: chartData1,
                    options: chartOptions1
                });
                isOpen1 = true;
            }
        });
    
        // Button for chart 2
        var showGraphButton2 = document.getElementById('show-graph2');
        var chartData2 = chartData.graph2.data;
        var chartOptions2 = chartData.graph2.options;
        chartOptions2.responsive = false;
        var ctx2 = document.getElementById('{{ chart2_id }}').getContext('2d');
        var myChart2 = null;
        
        showGraphButton2.addEventListener('click', function() {
            if (isOpen2) {
                myChart2.destroy();
                isOpen2 = false;
            } else {
                myChart2 = new Chart(ctx2, {
                    type: 'doughnut',
                    data: chartData2,
                    options: chartOptions2
                });
                isOpen2 = true;
            }
        });


                // Button for chart 21
        var showGraphButton21 = document.getElementById('show-graph21');
        var chartData21 = chartData.graph21.data;
        var chartOptions21 = chartData.graph21.options;
        chartOptions21.responsive = false;
        var ctx21 = document.getElementById('{{ chart21_id }}').getContext('2d');
        var myChart21 = null;

        showGraphButton21.addEventListener('click', function() {
            if (isOpen21) {
                myChart21.destroy();
                isOpen21 = false;
            } else {
                myChart21 = new Chart(ctx21, {
                    type: 'bar',
                    data: chartData21,
                    options: chartOptions21
                });
                isOpen21 = true;
            }
        });



                // Button for chart 3
        var showGraphButton3 = document.getElementById('show-graph3');
        var chartData3 = chartData.graph3.data;
        var chartOptions3 = chartData.graph3.options;
        chartOptions3.responsive = false;
        var ctx3 = document.getElementById('{{ chart3_id }}').getContext('2d');
        var myChart3 = null;

        showGraphButton3.addEventListener('click', function() {
            if (isOpen3) {
                myChart3.destroy();
                isOpen3 = false;
            } else {
                myChart3 = new Chart(ctx3, {
                    type: 'doughnut',
                    data: chartData3,
                    options: chartOptions3
                });
                isOpen3 = true;
            }
        });


                        // Button for chart 4
        var showGraphButton4 = document.getElementById('show-graph4');
        var chartData4 = chartData.graph4.data;
        var chartOptions4 = chartData.graph4.options;
        chartOptions4.responsive = false;
        var ctx4 = document.getElementById('{{ chart4_id }}').getContext('2d');
        var myChart4 = null;

        showGraphButton4.addEventListener('click', function() {
            if (isOpen4) {
                myChart4.destroy();
                isOpen4 = false;
            } else {
                myChart4 = new Chart(ctx4, {
                    type: 'polarArea',
                    data: chartData4,
                    options: chartOptions4
                });
                isOpen4 = true;
            }
        });


                        // Button for chart 6
        var showGraphButton6 = document.getElementById('show-graph6');
        var chartData6 = chartData.graph6.data;
        var chartOptions6 = chartData.graph6.options;
        chartOptions6.responsive = false;
        var ctx6 = document.getElementById('{{ chart6_id }}').getContext('2d');
        var myChart6 = null;

        showGraphButton6.addEventListener('click', function() {
            if (isOpen6) {
                myChart6.destroy();
                isOpen6 = false;
            } else {
                myChart6 = new Chart(ctx6, {
                    type: 'doughnut',
                    data: chartData6,
                    options: chartOptions6
                });
                isOpen6 = true;
            }
        });


                        // Button for chart 7
        var showGraphButton7 = document.getElementById('show-graph7');
        var chartData7 = chartData.graph7.data;
        var chartOptions7 = chartData.graph7.options;
        chartOptions7.responsive = false;
        var ctx7 = document.getElementById('{{ chart7_id }}').getContext('2d');
        var myChart7 = null;

        showGraphButton7.addEventListener('click', function() {
            if (isOpen7) {
                myChart7.destroy();
                isOpen7 = false;
            } else {
                myChart7 = new Chart(ctx7, {
                    type: 'polarArea',
                    data: chartData7,
                    options: chartOptions7
                });
                isOpen7 = true;
            }
        });

    </script>
    
</body>
</html>
